*~
*bak
*bck
*.pyc

bin/*

docs/.buildinfo
docs/.doctrees/

kicad/*bin
kicad/*dsn
kicad/*ses
kicad/*rules
kicad/gui_defaults.par
kicad/*-cache.*

rti-builder/test/
rti-builder/bin/

*/gerber/*
*/__pycache__/*
